{% extends "reviews/base.html" %}


{% block title %}
    Your Review
{% endblock %}


{% block content %}
    <form action="/" method = "POST"> <!-- POST request is sent to "~" which is written for action argument  -->
        {% csrf_token %}

        {% for field in form %}
            <div class = "form-control {% if field.errors %}errors{% endif %}">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors}}
            </div>
        {% endfor %}
       
        <!--
        {% if has_error %}
            <p>This form is invalid - please enter a valid username!</p>
        {% endif %}
        <label for = "username">Your name</label>
        <input id = "username" name = "username" type = "text">
        -->
        
        <button type = "submit">Send</button>

    </form>
{% endblock %}