{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale=1.0">
    <title>Your Review</title>
    <link rel="stylesheet" href = "{% static "reviews/styles.css" %}">
</head>
<body>
    <form action="/" method = "POST"> <!-- POST request is sent to "~" which is written for action argument  -->
        {% csrf_token %}

        {% for field in form %}
            <div class = "form-control {% if field.errors %}errors{% endif %}">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors}}
            </div>
        {% endfor %}
       
        <!--
        {% if has_error %}
            <p>This form is invalid - please enter a valid username!</p>
        {% endif %}
        <label for = "username">Your name</label>
        <input id = "username" name = "username" type = "text">
        -->
        
        <button type = "submit">Send</button>

    </form>
</body>
</html>